body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    padding: 6px 10px;
    background-color:black;
} 
.header nav{
    text-align: left; 
    
    
                
    
}




.path{
    padding: 0;
    margin: 0;
}

.banner { 

}